/* Below 768px screen width */

@media screen and (max-width: 768px) {
  :root {
    /* Font Size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__toggle-btn {
    display: block;
    top: 16px;
    right: 16px;
    font-size: var(--font-medium);
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-sky-light-blue);
  }

  #navbar.navbar--light {
    padding: 16px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 48px;
  }

  .about__p {
    margin-top: 0px;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .major {
    margin-bottom: 30px;
  }

  .skillset {
    flex-direction: column;
  }

  .category__btn {
    margin: 4px 0;
    width: 80%;
  }

  .category__btn.selected .category__count,
  .category__btn:hover .category__count {
    top: 5px;
  }

  .category__count {
    right: 32px;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__avatar {
    width: 120px;
    height: 120px;
  }

  .testimonial__avatar:nth-child(odd),
  .testimonial__avatar:nth-child(even) {
    margin: 0;
    margin-bottom: 8px;
  }

  .testimonial__speech-bubble {
    order: 1;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
